.header {
font-size: 20px;
line-height: 1.5;
margin-bottom: 60px;
}

.header span  {
  display: block;
}
.container, .col-lg-6 {
  border: 2px solid none;
}
.form-header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
}
.form {
  border: 5px solid blue;
  padding: 35px 20px;
}
.form-btn {
margin-top: 5px;
}

.form input {
  margin-bottom: 12px;
}
.section {
  background-color: grey;
  padding: 30px;
}
.seсtion-header {
  font-size: 20px;
  font-weight: 900;
}
.feature {
  margin-top: 20px;
}
.feature p {
  margin-top: 20px;
  margin-bottom: 60px;
}
.feature-box {
  width: 160px;
}
